  <div class="card">
    <strong>Commenter: <%= comment.commenter %> </strong>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
    <%= link_to 'Delete', [comment.article, comment],
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class:'btn btn-warning' %>
  </p>
</div>
