  <div class="card mt-1 p-1">
    <p> <span class="mr-1"><strong><%= comment.commenter %>:
    </strong></span>
    <%= comment.body %> </p>

  <p>
    <% if !current_user.nil? && comment.commenter==current_user.name %>
    <%= button_to 'Delete', [comment.article, comment],
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class:'btn btn-link btn-sm' %>
    <% end %>
  </p>
</div>
