  <p id="notice"><%= notice %></p>
  <div class="container">
    <h1>Kanet Tran's Articles</h1>
    <h3>My First Application</h3>
    

    <%= render @articles %>
    <br>
  </div>


  <%= link_to 'New Article', new_article_path %>
